body {
    margin: 0px;
    padding: 20px;
}
header {
    background-color: red;
    padding: 30px;
    height: 20%;
}
aside {
    background-color: greenyellow;
    padding-bottom: 150px;
    padding-top: 70px;
    width: 20%;
    display: flex;
    float: left;
    }
div {

    width: 100%;
    height: 100%;
}
nav {
    background-color: skyblue;
    padding-bottom: 50px;
}
article {
    background-color: yellow;
    padding-bottom: 150px;
}
footer {
    background-color: purple;
    padding: 30px;
}